<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>게시글 등록</title>
    <link rel="stylesheet" href="postStyle.css">
    <style>
        textarea {
            padding: 1em;
            margin-top: 8px;
            width: 97%;
            height: 400px;
            resize: none;
            border-radius: 10px;
            font-family: inherit;
            font-family: 'Malgun Gothic', '맑은 고딕', sans-serif;
        }
    </style>
</head>

<body>
    <header>
        <h1><a href="/main/UrbanGreen.html">UrbanGreen</a></h1>
        <nav id="navMenu">
            <a href="free-board.html">자유게시판</a>
            <a href="/main/class.html">강의</a>
            <a href="/AI/aichoice.html">AI 추천</a>
            <a href="/main/game.html">게임</a>
        </nav>
    </header>
    <main class="addPost-detail-container">

        <div class="addPost-card">
            <h2>게시글 등록</h2>

            <form th:action="@{/post/add}" th:object="${post}" method="post">

                <div class="control">
                    <div class="category">
                        <select th:field="*{fixed}">
                            <option value="0">일반 게시글</option>
                            <option value="1">고정 게시글</option>
                        </select>
                    </div>

                    <div class="category">
                        <select th:field="*{category}">
                            <option value="FREEBOARD">자유</option>
                            <option value="NOTICE">공지사항</option>
                        </select>
                    </div>
                </div>

                <p style="color:#4caf50; font-weight: 600; margin-right: 6px;">
                    제목 : <input type="text" id="addTitle" th:field="*{title}" /></p>
                <hr>
                <p style="color:#4caf50; font-weight: 600; margin-right: 6px;">
                    내용 : </p><textarea th:field="*{content}" rows="12"></textarea>

                <div class="addPostBtn">
                    <button type="submit" onclick="location.href='/'">등록</button>
                    <button type="button" onclick="location.href='/post/list'">취소</button>
                </div>
            </form>
        </div>


    </main>
</body>

</html>