<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header th:fragment="header">
    <div class="header-container">
        <div class="logo">UrbanGreen</div>

        <nav>
            <a th:href="@{/board/class}">강의</a>
            <a th:href="@{/post/free-board}">공지사항</a>
            <a th:href="@{/chat}">채팅</a>
            <a th:href="@{/ai/aichoice}">AI 추천</a>
            <a th:href="@{/main/game}">게임</a>
        </nav>

        <div class="user-menu">
            <!-- 로그인 전 -->
            <a th:if="${session.loginUser == null}" th:href="@{/login}">로그인</a>

            <!-- 로그인 후 -->
            <span th:if="${session.loginUser != null}">
              <a th:href="@{/mypage/profile}" th:text="${session.loginUser.nickname}">닉네임</a>
              <a th:href="@{/logout}">로그아웃</a>
            </span>
        </div>
    </div>
</header>

</body>
</html>