<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>UrbanGreen - 관리자 회원 관리</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 외부 공통 header/footer css (fragment에서 불러옴) -->
    <link rel="stylesheet" th:href="@{/css/admin/adminUserManage.css}">
    <link rel="stylesheet" th:href="@{/css/fragments/header.css}">
    <link rel="stylesheet" th:href="@{/css/fragments/footer.css}">
    <link rel="stylesheet" th:href="@{/css/mypage/myPage.css}">

</head>
<body>

</body>
</html>