* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f6f7f9;
    display: flex;
    flex-direction: column;
    min-width: 100vh;
}

/* 헤더 */
header {
    background: #7ecc4a;
    color: white;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
    font-size: 1.8rem;
    font-weight: bold;
}

header h1 a {
    text-decoration: none;
    color: white;
}

header h1 a:visited,
header h1 a:hover,
header h1 a:active {
    text-decoration: none;
    color: white;
}

nav {
    display: flex;
    gap: 1rem;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: 500;
}

.hidden {
    display: none;
}

/* 메인 */
main {
    display: flex;
    flex-direction: column;
    min-height: 90vh;
    align-items: center;
}

/* 썸네일 */
.lecture-thumbnail {
    background-color: #a5f89b;
    /* 임시 표시용 */
    height: 400px;
    width: 1170px;
    border-radius: 10px;
    margin-top: 64px;

}

.slide {
    display: none;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    color: white;
    line-height: 400px;
}

.slide.active {
    display: flex;
}

.dots {
    bottom: 20px;
    margin: 0 auto;
    width: 100px;
}

.dot {
    width: 20px;
    height: 20px;
    margin: 0 5px;
    /* border-radius: 50%; */
    color: white;
    opacity: 0.5;
    position: relative;
    bottom: 30px;
}

.dot.active {
    opacity: 1;
}

/* 빈공간 채우기*/

.tab_obj {
    width: 200px;
    padding: 30px;
    height: 35%;
    border-radius: 24px;
    background-color: #2d5e22;
    margin-top: 100px;
    font-size: 22px;
    position: fixed;
    top: 50px;
    left: 10px;
}

.tab_obj h2 {
    color: white;
}

#tab_list li {
    list-style-type: none;
    margin-top: 20px;
    background-color: #2d5e22;
}

.tab_obj li:hover {
    opacity: 30%;
}

#tab_list a {
    text-decoration: none;
    color: white;
}

/* #underall{
    width: 1300px;
} */
#Empty {
    display: flex;
    margin: 20px;
    margin-top: 50px;
    gap: 20px;
}

.emptyBox {
    width: 378px;
}

.emptyBox h1 {
    margin-bottom: 12px;
}

#post {
    padding: 10px;
    border: 1px solid #ccc;
    height: 300px;
    flex-direction: column;
    border-radius: 10px;

}

#co {
    padding: 10px;
    border: 1px solid #ccc;
    height: 300px;
    border-radius: 10px;

}

#notice {
    padding: 10px;
    border: 1px solid #ccc;
    height: 300px;
    border-radius: 10px;
}

/* 로그인 박스*/

.login {
    width: 320px;
    border: 1.2px solid #ccc;
    padding: 50px 10px 20px 20px;
    border-radius: 10px;
    height: 20%;
    border-radius: 24px;
    margin-top: 100px;
    position: fixed;
    top: 50px;
    right: 10px;
    opacity: 90%;
}

.login h2 {
    padding-left: 35px;
    margin-bottom: 60px;
    color: #1a1a1a;
}

/* #tologinform{
    width: 300px;
} */

.login a {
    padding: 20px 60px 20px 60px;
    text-decoration: none;
    background-color: #7ecc4a;
    border-radius: 10px;
    color: white;
    width: 300px;
    margin: 50px 50px 50px 70px;
}

#footer {
    background-color: #7ecc4a;
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
}

#footer a {
    color: white;
    text-decoration: none;

}