<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header th:fragment="header" id="header">
    <div class="header-container">
        <a th:href="@{/main/main}" class="logo">UrbanGreen</a>

        <nav>
            <a th:href="@{/board/class}">강의</a>
            <a th:href="@{/board/notice}">공지사항</a>
            <a th:href="@{/chat}">채팅</a>
            <a th:href="@{/ai/aichoice}">AI</a>
            <a th:href="@{/main/game}">게임</a>

            <!-- 로그인 전 -->
            <a th:if="${session.loginUser == null}" th:href="@{/login}">로그인</a>

            <!-- 로그인 후 -->
            <div th:if="${session.loginUser != null}" class="user-menu">
                <a th:href="@{/myPage/profile}" class="user-nickname" th:text="${session.loginUser.nickname} + '님'">닉네임</a>
                <a th:href="@{/logout}" class="user-logout">로그아웃</a>
            </div>
        </nav>
    </div>
</header>


</body>
</html>